@model List<MvcApplication2.Models.TemporaryCode>

@{
    ViewBag.Title = "ManageContacts";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Pictogramas WEB - Envio de lembretes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="../Content/bootstrap-table.js"></script>
    <link rel="stylesheet" href="../Content/bootstrap-table.css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css"></style>
</head>

<body style="background: LightGray">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/LogOut">Sair</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Contactos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Contacts/GenerateCode">Adicionar Contacto</a></li>
                            <li><a href="/Contacts/ManageContacts">Lista de Contactos</a></li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Lembretes<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Reminder/SelectContact">Adicionar/Editar/Eliminar Lembretes</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container" style="margin-top: 60px;">
        <!-- Features Section -->
        <div class="row" style="background: rgba(245, 239, 239, 1)">
            <div class="col-md-12">


                <h4>Lista de contactos</h4>
                <div class="table-responsive">


                    <table id="mytable" data-toggle="table" data-height="500" class="table table-bordred table-striped">

                        <thead>

                            <tr>
                                <th>Contacto</th>
                                <th>Código</th>
                                <th>Estado</th>
                                <th>Ver histórico</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tc in Model)
                            {
                                var floorplanSettings = @Html.Raw(Json.Encode(tc.contact));
                                <tr>

                                    <td>@tc.contact</td>
                                    <td>@tc.code</td>
                                    <td>@tc.status</td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="" data-original-title="Histórico de Lembretes">
                                            <button class="btn btn-primary btn-xs" onclick="GetHistorical(@floorplanSettings)" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button>
                                        </p>
                                    </td>
                                    <td>
                                        <p data-placement="top" data-toggle="tooltip" title="" data-original-title="Delete">
                                            <button  onclick="DeleteRow(this,@floorplanSettings)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button>
                                        </p>
                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>


                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->


        <hr>

        <!-- Footer -->
        <footer class="row-fluid">
            <div class="row" style="background: rgba(245, 239, 239, 1)">
                <div class="col-lg-12">
                    <p>© 2015 - Gonçalo Lourenço e Jorge Pinto </p>

                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>
</html>

<script>

    function GetHistorical(contact) {
        this.location.href = "@Url.Action("GetHistorical", "Reminder", new { contact = "abc" })".replace("abc", contact);
    }

    function DeleteRow(link, contact) {

        $.ajax({
            type: 'POST',
            url: '/Contacts/DeleteContact',
            data: {
                contact: contact
            },
            traditionel: true,
            success: function (data, textStatus, xhr) {
                $(link).closest("tr").remove(); // remove row
                return false;
            },
            statusCode: {
                500: function (data) {
                    var newDoc = document.open("text/html", "replace");
                    newDoc.write(data.responseText);
                    newDoc.close();
                }
            }
        });


    }
</script>
